{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XYZ</title>
  </head>
  <body>
    <h2>medicine name</h2>
    <p><em>XYZ</em></p>
    <img src="{% static 'img/tab.png' %}" alt="tablet" , download />
    <a href="{% static 'img/tab.png' %}" class="download" download> Download</a>
    <br />
    <b>ABOUT</b>
    <p>{% lorem 3 %}</p>
  </body>
</html>
